.hero-section {
    background: #2B216A;
    position: relative;
}

.hero-inner {
    position: relative;
}

.hero-text {
    max-width: 506px;
    width: 100%;
    h1 {
        color: #FFF;
        font-size: 60px;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 57px;
        position: relative;
        &::after{
            content: '';
            background: rgba(255, 255, 255, 0.30);
            height: 5px;
            width: 80%;
            position: absolute;
            bottom: -12px;
            left: 0;
        }
    }
    p {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 187%;
        margin-bottom: 50px;
    }
    .banner-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 50px;
        color: color(whiteColor);
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        background: color(primary);
    }
}

.hero-img{
    position: relative;
    .check{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        top: -3%;
        left: 40%;
        width: 8%;
        animation: jumpingUp 5s infinite;
    }
    .oval{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        top: -2%;
        right: 28%;
        width: 24%;
        // animation: jumpingDown 4.5s infinite;
    }   
    .chart{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        right: -16px;
        bottom: 5%;
        width: 30%;
        animation: jumpingDown 5s infinite;
    }
    .shild{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        bottom: 40%;
        left: -20px;
        width: 16%;
        animation: jumpingDown 4.5s infinite;
    }
    .woo{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        right: 24%;
        top: 9%;
        width: 16%;
        animation: jumpingUp 5s infinite;
    }
    .cart{
        position: absolute;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.20));
        bottom: 4%;
        left: 40%;
        width: 14%;
        animation: jumpingDown 4.5s infinite;
    }
            
}



@media only screen and (max-width: 1280px) {
    .hero-text{
        h1{
            font-size: 50px;
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .hero-text {
        h1{
            font-size: 36px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero-text {
        text-align: center;
        margin: auto;
        padding-bottom: 40px;
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            &::after{
                left: auto;
                right: auto;
                width: 70%;
            }
        }
        .banner-btn{
            margin: auto;
        }
    }
}

@media only screen and (max-width: 425px) {
    .hero-text {
        h1{
            font-size: 32px;
        }
    }
}