/*-- megha menu start --*/
.mega-menu-section{
    width: 100vw;
    overflow-x: hidden;
    overflow: hidden;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 9999;
    display: none;
    padding-top: 35px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.megha-menu{
    width: 100vW;
    background: #FFFFFF;
    border-top: 1px solid #ECECEC;
    .p-0{
        padding: 0px !important;
    }
}
.mega-menu-list{
    min-height: 100%;
    height: 460px;
    padding: 45px 0px;
    &-inner{
        border-right: 1px solid #ECECEC;
        min-height: 100%;
        padding: 0px 32px;
        &.no-border{
            border: none !important;
        }
    }
    &.last{
        background: #EFF4F8;
    }
    h5{
        text-transform: uppercase;
        color: #111;
        font-family: Outfit;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 20px;
        img{
            width: 20px;
            margin-right: 16px;
        }
    }
    ul{
        list-style: none;
        padding: 0px 0px 0px 40px;
        margin: 0px;
        li{
            margin-bottom: 10px;
            a{
                color: #444;
                font-size: 15px;
                font-weight: 500;
                line-height: 28px;
                transition: 0.3s; 
                &:hover{
                    color: color(primary);
                }
            }
            button{
                background: #DBF1FC;
                max-width: 180px;
                width: 100%;
                padding: 10px;
                transition: 0.6s;
                color: color(primary);
                border-radius: 6px;
                font-weight: 600;
                margin-top: 10px;
                &:hover{
                    color: #FFFFFF;
                    background: color(primary);
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px){
    .mega-menu-list-inner{
        padding: 0px 24px;
    }
}

/*-- mega-menu end--*/